<div class="header">
    <div class="header-left">
        <span class="title">CONVERSATIONS</span>
    </div>
    <div class="header-right">
        <button class="sort-order icon">
            {{material-icon "filter_list"}}
        </button>
        <button class="add-participant icon">
            {{material-icon "add_circle_outline"}}
        </button>
    </div>
</div>
<div class="participants">
    {{#each roster.activeChats as |activeChat|}}
        {{conversation-pane/conversation-item
            rosterModel=activeChat
            popoutRoom=(action "popoutRoom")
            openRoom=(action "openRoom")
        }}
    {{/each}}
</div>


