.chat {
    display: flex;
    height: ~"calc(100vh - 3px)";
    flex-direction: column;
    background-color: @rogue-dark-grey;
    padding: 0 3px 3px 3px;
    overflow-x: hidden;

    .room-container {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .conversation {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .panel-outlet {
        display: flex;
        margin-right: -3px;
        background-color: @rogue-grey;
    }

    .panel {
        min-width: 200px;
    }

    //drop down attaches itself to the parent container and as such styles are hinged from that point as well
    &.dz-max-files-reached {
        .emoji.textarea-button {
            right: 110px;
        }

        .file.textarea-button {
            right: 70px;
        }

        .arrow-down {
            right: 116px;
        }
    }

}
