.chat {
    display: flex;
    height: ~"calc(100vh - 3px)";
    flex-direction: column;
    background-color: @rogue-dark-grey;
    padding: 0 3px 3px 3px;

    .room-container {
        display: flex;
        flex-direction: row;
    }

    .conversation {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .panel-outlet {
        margin-right: -3px;
        background-color: @rogue-grey;
    }

    .panel {
        min-width: 200px;
    }

}
