<button class="nav-button">
    <i class="fa fa-users nav-icon active"></i>
</button>
<button class="nav-button">
    <i class="fa fa-calendar nav-icon"></i>
</button>
<button class="nav-button">
    <i class="fa fa-align-left nav-icon rotate"></i>
</button>
<button class="nav-button">
    <i class="fa fa-cog nav-icon"></i>
</button>