<button class="nav-icon active">
    <i class="fa fa-users"></i>
</button>
<button class="nav-icon">
    <i class="fa fa-calendar"></i>
</button>
<button class="nav-icon rotate">
    <i class="fa fa-align-left"></i>
</button>
<button class="nav-icon">
    <i class="fa fa-cog"></i>
</button>