{{interaction-header
    activePanel=activePanel
    togglePanel=(action "togglePanel")
}}
<div class="room-container">
    <div class="conversation">
        {{interaction-pane
            activeInteraction=model
        }}
        {{interaction-textarea
            sendMessage=(action "sendMessage")
        }}
    </div>
    <div class="panel-outlet">
        {{#if showSearchPanel}}
            BOO
        {{/if}}
        {{#if showInvitePanel}}
            <div class="panel invite-panel">
                {{entity-search onSelection=(action "onSelection")}}
            </div>
        {{/if}}
    </div>
</div>