{{#if showPresencePicker}}
    <div class="presence-picker">
        {{#each presences as |presence|}}
            {{presence-selector/presence-list-item
                presence=presence
                setPresence=(action "setPresence")
            }}
        {{/each}}
    </div>
{{/if}}
<div class="presence-footer">
    <img class="profile-image" src="https://is2-ssl.mzstatic.com/image/thumb/Purple7/v4/ff/97/d8/ff97d832-d9a0-b053-933b-e495827b9007/mzl.mxvxjnaj.png/246x0w.jpg" height="35" width="35">
    <button class="presence" onclick={{action "togglePicker"}}>
        <span class="status">available</span>
        <i class="fa fa-sort arrow-icon "></i>
    </button>
</div>