<div class="left-rail">
    {{entity-image entity=entity}}
</div>
<div class="right-rail">
    {{#if name}}
        <span class="field name">{{name}}</span>
    {{/if}}
    {{#if title}}
        <span class="field title">{{title}}</span>
    {{/if}}
    {{#if department}}
        <span class="field department">{{department}}</span>
    {{/if}}
</div>