<div class="left-rail">
    {{entity-image entity=entity}}
</div>
<div class="right-rail">
    <span class="field name">{{name}}</span>
    <span class="field title">{{title}}</span>
    <span class="field department">{{department}}</span>
</div>