<div class="header-left">
    <!-- Will eventually hold icons for phone, video and screenshare -->
</div>
<div class="header-right">
    <button class="header-icon">
        {{material-icon "person_add"}}
    </button>
    <button class="header-icon">
        {{material-icon "search"}}
    </button>
    <button class="header-icon">
        {{material-icon "more_vert"}}
    </button>
</div>