<div class="chat-portal">
    {{interaction-header}}
    {{interaction-pane
        activeInteraction=activeInteraction
    }}
    {{interaction-textarea
        sendMesssage=(action "sendMessage")
    }}
    {{interaction-picker
        switchInteraction=(action "switchInteraction")
        rooms=interactions
    }}
</div>
