<div class="chat">
    {{outlet}}
    {{interaction-picker
        switchInteraction=(action "switchInteraction")
        closeInteraction=(action "closeInteraction")
        rooms=interactions
    }}
</div>
