<div class="navigation-portal">
    {{nav-bar}}
    {{#if showConversationPane}}
        <div class="conversation-pane">
            BOO YAH!
        </div>
    {{/if}}
    {{presence-selector}}
</div>