& {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex: 1 0 auto;

    &.start-of-block {
        margin-top: 7px;

        .triangle-right, .triangle-left, .profile-image {
            visibility: visible;
        }

        .timestamp, .name {
            display: initial;
        }

        .message {
            padding-top: 5px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
    }

    &.end-of-block {
        margin-bottom: 7px;

        .message {
            padding-bottom: 5px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    &.sent-by-me {
        .container {
            flex-direction: row-reverse;
        }

        .details {
            justify-content: flex-end;
        }

        .body {
            color: white;

            a {
                color: white;
            }
        }

        .message {
            background-color: @rogue-light-grey;
        }

        .timestamp {
            margin-right: 30px;
        }

        .name {
            display: none;
        }
    }

    .profile-image {
        border-radius: 50%;
        margin-right: 15px;
        visibility: hidden;
    }

    .triangle-left {
        width: 0;
        height: 0;
        visibility: hidden;
        border-top: 15px solid @rogue-grey;
        border-left: 15px solid transparent;
        position: relative;
        right: -1px;
        filter: drop-shadow(0 2px 8px rgba(119, 119, 119, .3));
    }

    .triangle-right {
        width: 0;
        height: 0;
        visibility: hidden;
        border-top: 15px solid @rogue-light-grey;
        border-right: 15px solid transparent;
        position: relative;
        right: 1px;
        filter: drop-shadow(0 2px 8px rgba(191, 191, 191, .3));
    }

    .details {
        display:flex;
        flex-direction: row;
        color: @rogue-light-grey;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .message {
        display: flex;
        flex-direction: column;

        background-color: @rogue-grey;
        padding: 0 10px;
        width: 75%;
    }

    .body {
        word-break: break-all;
        color: @rogue-off-white;

        > * {
            word-break: break-all;
            white-space: normal;
        }

        a {
            color: @rogue-off-white;
        }

        .emojione {
            height: 20px;
            width: 20px;
            vertical-align: bottom;
        }
    }

    .timestamp {
        font-size: 12px;
        display: none;
    }

    .name {
        font-size: 12px;
        display: none;
        font-weight: bold;
        margin-left: 60px;
        margin-right: 5px;
    }
}
