{{#unless sentByMe}}
    <img class="profile-image" src="{{profileImageUrl}}" height="30" width="30">
{{/unless}}

{{#if sentByMe}}
    <div class="triangle-right"></div>
{{else}}
    <div class="triangle-left"></div>
{{/if}}

<div class="message">
    {{{markdown}}}
</div>

<div class="timestamp">{{time}}</div>